@tailwind base;
@tailwind components;
@tailwind utilities;

.stone {
  --geist-background: rgb(250 250 249);
  --accents-1: rgb(245 245 244);
  --accents-2: rgb(231 229 228);
  --accents-3: rgb(214 211 209);
  --accents-4: rgb(168 162 158);
  --accents-5: rgb(120 113 108);
  --accents-6: rgb(87 83 78);
  --accents-7: rgb(68 64 60);
  --accents-8: rgb(41 37 36);
  --geist-foreground: rgb(28 25 23);
}
.stone.dark-theme {
  --geist-background: rgb(28 25 23);
  --accents-1: rgb(41 37 36);
  --accents-2: rgb(68 64 60);
  --accents-3: rgb(87 83 78);
  --accents-4: rgb(120 113 108);
  --accents-5: rgb(168 162 158);
  --accents-6: rgb(214 211 209);
  --accents-7: rgb(231 229 228);
  --accents-8: rgb(245 245 244);
  --geist-foreground: rgb(250 250 249);
}
